/* step two, set up up global CSS variables */
@import url('https://fonts.googleapis.com/css?family=Oswald|Rambla|Staatliches&display=swap');

body{
    margin: 0;
    padding: 0;
}

:root{
    --color-primary: rgb(113,5,244);
    --color-secondary: rgb(240, 241, 235);
    --color-border: #fffb20d8;
    --font-staat: 'Staatliches', cursive;
    --font-os:  'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
}

/* global classes */
.font-staat{
    font: normal 400 18px var(--font-staat);
    text-shadow: #a1a47f;
}

.font-size-44{
    font-size: 80px;
    text-shadow: 0px 6px 4px #a1a47f;
}

.font-os{
    font: normal 300 18px var(--font-os);
    text-shadow: #0c0c0c;
    text-transform: capitalize;
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}

.font-size-40{
    font-size: 80px;
    text-shadow: 3px 6px 4px rgba(80, 52, 126, 0.633);
    
}
.font-size-34{
    font-size: 34px;
}
.font-size-27{
    font-size: 27px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-16 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #f9f6f6;
    font-weight: 500;
    text-decoration: underline solid rgb(240, 241, 235);
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
    border-bottom: 4px solid #fffb20d8;
    
}

/* .bgcolor-primary{
    background-color: var(--color-primary);
} */

#side-nav {
    background: linear-gradient(90deg, rgba(26,26,27,1) 0%, rgba(62,41,119,1) 35%, rgba(206,209,209,0.08307072829131656) 100%);

    border-right: 3.5px solid #fffb20d8;
}

/* #global classes */
 /* step four, add header CSS */
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1;
    transition: left .5s ease;
}

#header nav{
    height: 100vh;
}
#header .site-title .navbar-brand{
    letter-spacing: 2px;
    color: var(--color-secondary);
}

#header .nav-link{
    margin: .7rem 1rem;
    border-bottom: 1px solid var(--color-border);
    text-transform: uppercase;
}

#header .nav-link:hover{
    color: var(--color-secondary) !important;
}

#header .toggle-button{
    background: none;
    color: var(--color-primary);
    position: fixed;
    top: 25px;
    right: 20px;
    border: 1px solid var(--color-primary);
}

.toggle-left{
    left: 0 !important;
    width: 1000px !important;
}

/* site-main */


.site-banner .banner-area{
    background: url('./assets/manJumpingFromFailure.jpeg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    border-bottom: solid rgba(80, 52, 126, 0.633) 4px;
    border-top: solid rgba(80, 52, 126, 0.633) 4px;
}

.site-banner .banner-area .author{
    margin: 0;
    position: absolute;
    top: 46.8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-banner .banner-area .author .author-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    background: url(./assets/about.jpg) no-repeat;
    background-size: 200%;
    background-position: 40% 0;
}


@media screen and (min-width: 768px){
    .toggle-button{
        display: none;
    }
    #header{
        z-index:0;
    }
}

/* #site-main */
.skill-pics {
    width: auto;
    height: 150px;
    border: rgba(80, 52, 126, 0.933) solid 3.5px;
    padding: 10px;
    margin: 2%;
}
.projects {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.education {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}


.resume {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold ;
}

.text-center1{
    text-shadow: 3px 6px 4px rgba(80, 52, 126, 0.633);
}
.text-center{
    text-shadow: 3px 6px 4px #f6f661c1 0.633;
}

.flex-column {

    text-shadow: var(--color-primary);
}


/*.project1 {
    -moz-transform: scale(0.5) translate(-33px, 0px);
    -webkit-transform: scale(0.5) translate(-33px, 0px);
    -o-transform: scale(0.5) translate(-33px, 0px);
    -ms-transform: scale(0.5) translate(-33px, 0px);
    transform: scale(0.5) translate(-33px, 0px);
    margin-left: 40px;
}*/
/* .project2 {
    -moz-transform: scale(0.5) translate(-33px, 0px);
    -webkit-transform: scale(0.5) translate(-33px, 0px);
    -o-transform: scale(0.5) translate(-33px, 0px);
    -ms-transform: scale(0.5) translate(-33px, 0px);
    transform: scale(0.5) translate(-33px, 0px);
    margin-left: 40px;
} */

.webProjects {
    width: 50vw;
    height: auto;
    display: flex;
    margin: auto
    
    
}

.webEducation1 {
    width: 10vw;
    height:20vh;
    display: flex;
    
   
}
.webEducation2 {
    width: 33vw;
    height: 20vh;
    display: flex;
    margin: auto
}
.webEducation3 {
    width: 33vw;
    height: 20vh;
    display: grid;
    margin: auto
}

#aboutMeProject {
    box-shadow: 3px 6px 4px rgba(80, 52, 126, 0.33);
}

#drumKit {
    width: 53.5vw;
}

#madLibs {
    box-shadow: 3px 6px 4px rgba(80, 52, 126, 0.33);
    padding-top: 20px;
}

#skills {
    text-shadow: 3px 6px 4px rgba(80, 52, 126, 0.33);
    padding-top: 180px;
    margin-bottom: 80px;
    text-decoration: underline solid rgba(80, 52, 126, 0.633) 4px;
    /*border-bottom: solid rgba(80, 52, 126, 0.833) 4px;*/
}

/*#projects1 {
    border-bottom: solid rgba(80, 52, 126, 0.833) 2px;
}*/

#row-education {
    /*border-bottom: solid rgba(80, 52, 126, 0.833) 2px;*/
    padding:33px;
    margin: 20px;
}

#projects {
    text-shadow: 3px 6px 4px rgba(80, 52, 126, 0.33);
    padding-top: 90px;
    margin-bottom: 80px;
    /*border-bottom: solid rgba(80, 52, 126, 0.833) 4px;*/
    text-decoration: underline solid rgba(80, 52, 126, 0.633) 4px;

}
#row-education {
    text-shadow: 3px 6px 4px rgba(80, 52, 126, 0.33);
    padding-top: 200px;
    margin-bottom:120px;
    /*text-decoration: underline solid rgba(80, 52, 126, 0.633) 4px;*/
    /*border-bottom: solid rgba(80, 52, 126, 0.833) 4px;*/
}
#education {
    text-shadow: 3px 6px 4px rgba(80, 52, 126, 0.33);
    padding-top: 90px;
    margin-bottom:90px;
    text-decoration: underline solid rgba(80, 52, 126, 0.633) 4px;
    /*border-bottom: solid rgba(80, 52, 126, 0.833) 4px;*/
}


#row-experience {
    text-shadow: 3px 6px 4px rgba(80, 52, 126, 0.33);
    padding-top: 130px;
    margin-bottom: 50px;
    margin-left: 58px;
    /*text-decoration: underline solid rgba(80, 52, 126, 0.333) 4px;*/
    /*border-bottom: solid rgba(80, 52, 126, 0.833) 4px;*/
}

#resume {
    text-shadow: 3px 6px 4px rgba(80, 52, 126, 0.13);
    padding-top: 80px;
    margin-top: -80px;
    margin-bottom: 50px;

    /*border-bottom: solid rgba(80, 52, 126, 0.833) 4px;*/
}
#experience {
    text-shadow: 3px 6px 4px rgba(80, 52, 126, 0.33);
    padding-bottom: 110px;
    /*padding-top: 110px;*/
    margin-bottom: 10px;
    text-decoration: underline solid rgba(80, 52, 126, 0.633) 4px;
    /*border-bottom: solid rgba(80, 52, 126, 0.833) 4px;*/
}

#contact1 {
    text-shadow: 3px 6px 4px rgba(80, 52, 126, 0.23);
    padding-top: 160px;
    margin-bottom: 80px;
    text-decoration: underline solid rgba(80, 52, 126, 0.633) 4px;
    /*border-bottom: solid rgba(80, 52, 126, 0.833) 4px;*/
}

#ka {
    text-shadow: none;
    text-decoration:none;
}

#ka1 {
    text-shadow: none;
    text-decoration:none;
}

#portrait {
  margin-left: 135px; 
  border: #0c0c0c solid .5px;
box-shadow: 5px 5px 10px .5px #5c57a5;
  
}